:root {
  --bg:#020403;
  --panel:#08150e;
  --neon:#39ff14;
  --neon-soft:rgba(57,255,20,.25);
  --text:#baffb0;
  --radius:14px;
}

* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body {
  font-family:Poppins,sans-serif;
  background:radial-gradient(circle at top,#06150c,#020403);
  color:var(--text);
  overflow-x:hidden;
}

#matrix {
  position:fixed;
  inset:0;
  z-index:-1;
  opacity:.25;
}

/* NAVBAR */
nav {
  position:fixed;
  top:10px;
  left:50%;
  transform:translateX(-50%);
  width:92%;
  max-width:1100px;
  background:rgba(0,0,0,.5);
  border:1px solid var(--neon-soft);
  border-radius:var(--radius);
  backdrop-filter:blur(8px);
  padding:12px 18px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  z-index:1000;
}

.logo {
  font-family: cursive, Orbitron;
  font-size:30px;
  color:var(--neon);
  text-align: start;
}

nav ul {
  list-style:none;
  display:flex;
  gap:18px;
  flex-wrap:wrap;
}

nav a {
  color:var(--text);
  text-decoration:none;
  font-size:14px;
}
nav a:hover {
  color:var(--neon);
}


/* HERO */
.hero {
  min-height:100vh;
  padding:140px 20px 80px;
  max-width:1100px;
  margin:auto;
  display:grid;
  grid-template-columns:1fr 380px;
  gap:30px;
}

.hero h1 {
  font-family:Orbitron;
  font-size:48px;
  color:var(--neon);
}

.cursor {
  animation:blink 1s infinite;
}
@keyframes blink {
  50% { opacity:0 }
}

.role {
  margin:10px 0;
  font-size:18px;
}

.btn {
  display:inline-block;
  margin-top:14px;
  margin-right:10px;
  padding:10px 18px;
  border-radius:10px;
  border:1px solid var(--neon-soft);
  color:var(--neon);
  text-decoration:none;
}
.btn.primary {
  background:var(--neon);
  color:#021a08;
  font-weight:700;
}

/* TERMINAL */
.terminal {
  background:linear-gradient(180deg,#0a1b13,#020806);
  border:1px solid var(--neon-soft);
  border-radius:5px;
  overflow:hidden;
}
.term-top {
  padding:8px;
  display:flex;
  gap:6px;
}
.dot {
  width:10px;
  height:10px;
  border-radius:50%;
}
.red { background:#ff5f56 }
.yellow { background:#ffbd2e }
.green { background:#27c93f }

.term-body {
  padding:14px;
  font-family:monospace;
  color:var(--neon);
  font-size:13px;
}

/* SECTIONS */
section {
  max-width:1100px;
  margin:auto;
  padding:80px 20px;
}

h2 {
  font-family:Orbitron;
  color:var(--neon);
  margin-bottom:20px;
}
pre {
  font-family:monospace;
  font-size: large;
  background:var(--panel);
  padding:10px;
  border-radius:8px;
  border:1px solid var(--neon-soft);
  display:inline-block;
  margin-top:10px;
  margin-bottom:10px;
}
/* SKILLS */
.bar {
  height:10px;
  background:#e9e9e9;
  border-radius:999px;
  overflow:hidden;
  margin-bottom:14px;
}
.fill {
  height:100%;
  background:linear-gradient(90deg,var(--neon),#b458fb);
}

/* PROJECTS */
.projects {
  border:1px dashed var(--neon-soft);
  padding:30px;
  border-radius:12px;
  text-align:center;
}

/* YOUTUBE */
.video-grid {
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:18px;
}
iframe {
  width:100%;
  height:200px;
  border-radius:10px;
  border:1px solid var(--neon-soft);
}

/* CONTACT */
.contact-box {
  text-align:center;
}
.contact-box p {
  margin-bottom:16px;
}

/* FOOTER */
footer {
  text-align:center;
  padding:30px;
  border-top:1px dashed var(--neon-soft);
  color:#7aff6f;
}

/* MOBILE */
@media(max-width:900px) {
  .hero {
    grid-template-columns:1fr;
    text-align:center;
  }
  .video-grid {
    grid-template-columns:1fr;
  }
}
@media(max-width:500px) {
  nav {
    flex-direction:column;
    gap:10px;
  }
}
